@import "partials/text";

.jingle-page-contents-actions-wrapper {

  .sell-price-wrapper {
    height: 42px;
    display: flex;
    justify-content: space-between;
    font-size: $font-size-title-small - 0.1;

    .price-value { font-weight: $font-weight-bold; }
  }

  .purchase-wrapper, .cancel-wrapper { margin-top: 10px; }

  .message-box-wrapper.error {
    margin-top: 10px;
    width: 100%;
  }
}
