@import "partials/variables";

.jingle-page-contents-wrapper {

  .columns-wrapper {
    display: flex;

    .left-column-wrapper {
      max-width: 250px;
      margin-right: 45px;
      width: 100%;
    }

    .right-column-wrapper { overflow: hidden; }
  }

  @include for-sm-screen {
    .columns-wrapper {
      flex-direction: column;

      .left-column-wrapper {
        margin-right: auto;
        margin-left: auto;
      }

      .right-column-wrapper {
        margin-top: 60px;
      }
    }
  }
}
