.jingle-page-contents-wrapper {

  .columns-wrapper {
    display: flex;

    .left-column-wrapper {
      max-width: 250px;
      margin-right: 45px;
      width: 100%;
    }

    .right-column-wrapper { overflow: hidden; }
  }
}
