.my-jingles-wrapper {
    color: black;
}

.buy-samples-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy-samples-section {
    margin: 10px 0 20px 0;
}

.buy-samples-wrapper h2 {
    font-size: 28px;
}

.buy-samples-wrapper h2,
.samples-wrapper h2 {
    margin: 0;
}

.buy-samples-wrapper .buy-button {
    margin: 0;
    width: 150px;
    font-size: 18px;
    padding: 4px;
}

.buy-samples-wrapper input {
    margin-right: 15px;
}

input.form-control {
    background: white;
    border: 1px solid black;
    width: 60px;
}

.form-items-wrapper {
    display: inline-flex;
}

.samples-wrapper {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.profile-wrapper .my-jingles-wrapper .sort-samples-container {
    margin-bottom: 10px;
}