@import "partials/variables";
@import "partials/colors";

.loading-error-overlay-wrapper {
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 49;
  background: rgba($pale-white, 0.8);
  @include flex-center;
  @include hover-transition;

  &.error { background: rgba($pale-white, 1); }
}
