.first-row {
  margin-top: 30px;
}

.play-btn {
  padding-left: 30px;
  margin-bottom: 50px;
}

.create-song-btn {
  margin-left: 12px;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.separator {
  border-bottom: 1px solid black;
  width: 100%;
}

.sort-samples-wrapper {
  margin: 50px 0  ;
}

.sort-samples-wrapper:after {
  content:"";
  clear:both;
  display:block;
}


.compose-samples-wrapper {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}
