.page404-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.page404-wrapper h1{
    margin: 5px 0;
    font-size: 50px;
}

.page404-wrapper h5 {
    margin-top: 40px;
    font-size: 20px;
}

.page404-wrapper a {
    margin-top: 40px;
    text-decoration: underline;
    font-size: 20px;
}

.page404-wrapper a:hover {
    color: #8cc3e6;
    opacity: 0.7;
}