$main-font: 'Roboto', sans-serif;

//FONT SIZES ( 1rem = 10px )
$font-size-title-home-page: 4rem;
$font-size-title: 3.5rem;
$font-size-title-small: 2.5rem;
$font-size-giant: 2.2rem;
$font-size-extra-large: 2rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-regular: 1.4rem;
$font-size-small-regular: 1.3rem;
$font-size-small: 1.2rem;
$font-size-extra-small: 1rem;
$font-size-tiny: 0.8rem;

//FONT WEIGHTS
$font-weight-extra-bold: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
