@import "partials/variables";

.marketplace-page-wrapper {
  background: white;

  &:not(.center), &.loading-error-overlay {
    padding-bottom: 130px;

    .page-content-wrapper {
      padding: 0;
      margin-top: 40px;
      margin-bottom: 80px;
    }
  }

  .page-header-wrapper {
    margin-bottom: 50px;
  }

  .page-content-wrapper {
    position: relative;
  }

  .songs-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 40px 35px;

    .single-song {
      margin: 0;
    }
  }

  .pagination-wrapper .pagination { margin: 0; }

  @include for-sm-screen {
    .pagination-wrapper { margin: 0 auto; }
    .songs-wrapper { justify-content: center; }
  }
}
