.marketplace-page-wrapper {
  background: white;

  .page-header-wrapper {
    margin-bottom: 50px;
  }

  .page-content-wrapper:not(.center) {
    padding-top: 30px;
  }

  .songs-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 40px 35px;

    .single-song {
      margin: 0;
    }
  }

  .pagination-wrapper {
    margin-top: 40px;

    .pagination { margin: 0; }
  }
}
