.jingle-page-2-wrapper .width-container {
  max-width: 800px;

  .page-header-wrapper .page-title {
    display: flex;

    .title-more {
      margin-left: 10px;
      color: #C0C7D1;
      font-weight: bold;
    }
  }
}
