body {
    background: white;
    color: black;
}

div {
    box-sizing: border-box;
}

.header-wrapper {
    background: white;
    padding-top: 10px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:focus {
    color: black;
    font-size: 18px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
    color: black;
    opacity: 0.65;
    transition: 0.2s ease-in;
}

body::-webkit-scrollbar, div::-webkit-scrollbar {
     width: 15px;
 }

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background-color: rgba(0, 0, 0, 0.65);
     border: 5px solid rgba(0, 0, 0, 0);
     background-clip: padding-box;
     -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
 }

.navbar-collapse.collapsing, .navbar-collapse.collapse.in {
    border-bottom: 1px solid black;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand span {
    margin-right: 10px;
}

.children-wrapper {
    margin-top: 10px;
}

body input.form-control {
  border: 1px solid #d1d1d1;
}

.network-error {
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  background: #FF7F5B;
  color: white;
  padding: 2px;
}
