@import "partials/text";

.blocker-wrapper {
  display: flex;
  flex-grow: 1;
  min-height: 400px;

  .width-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    .block-text {
      font-size: $font-size-giant;
      max-width: 300px;
      margin-top: 15px;
      text-align: center;
    }
  }
}
