.headline {
    margin-top: 30px;
}

.homepage-main {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: black;
    margin-top: 100px;
    margin-bottom: 60px;
}

.homepage-main h1 {
    font-size: 50px;
    font-weight: bold;
}

.homepage-main h4 {

}

.homepage-main + img {
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
}