.jingle-header {
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.name-tag {
    font-size: 13px;
}

svg {
    cursor: pointer;
}

.sample-component {
    height: 100%;
    margin-bottom: 0;
    min-width: 150px;
    flex-basis: auto; /* default value */
    flex-grow: 1;
}