.sample-wrapper {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 175px;

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .top {
    background: black;
    clip-path: polygon(0 0, 1634px 0, 130px 90%, 0 99%);
    overflow: hidden;
    position: relative;

    svg , #load { width: 60px; }

    svg.play-icon {
      cursor: pointer;

      circle {
        stroke: none !important;
      }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 130px;
    }
  }

  .bottom {
    height: 100px;
    padding: 10px;
    position: relative;
  }

  .id-tag {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #C0C7D1;
    position: absolute;
    bottom: 5px;
  }

  .name-tag {
    margin-top: 10px;
    font-size: 18px;
    color: #43474e;
  }
}
