.placeholder {
    background-color: cornflowerblue;
    height: 120px;
    text-align: center;
    text-justify: auto;
    color: white;
    border-style: dashed;
    border-width: 3px;
    border-color: black;
    cursor: pointer;
  }

.selected {
      border-style: solid;
}

.jingle-slot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.cancel-btn {
    position: absolute;
    top: 2px;
    right: 10px;
    cursor: pointer;
}
