$anim-text-offset: 1em;

.sample-pack-wrapper {
  margin: 10px 10px 5px 10px;
  max-width: 265px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid #d5d5d5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .pack-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .samples-list {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: stretch;

    .sample {
      font-size: 14px;
      background: lightgray;
      border-radius: 4px;
      padding: 3px 6px;
      margin-right: 5px;
      margin-bottom: 5px;
      color: #485355;
    }
  }

  .pack-info {
    padding: 10px;
  }

  .button-wrapper {
    padding: 10px;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button{
    touch-callout: none;
    user-select: none;
    display: inline-block;
    border: .2em solid;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.6;
    color: #FFF;

    &__text{
      display: block;
      padding: 0.75em 3em;
      text-transform: uppercase;
      font-weight: bold;

      &:before{
        content: attr(title);
      }

      &--bis{
        display: block;
        position: absolute;
        top: 0; left:0; right: 0; bottom: 0;
        transform: translateX(-1 * $anim-text-offset);
        opacity: 0;
      }
    }

    &__mask{
      display: block;
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background: white;
      transform: translateX(-100%) rotate(45deg);
      transition: all 0.3s;
    }
  }

  &:hover{
    opacity: 1;
    .button__text{
      animation: fx-text .3s ease-out;
      &--bis{
        animation: fx-text-bis .3s ease-out;
      }
    }
    .button__mask{
      animation: fx-mask .3s ease-out;
    }
  }

  &:active{
    opacity: 1;
    background: white;
    color: inherit;
  }
}

@keyframes fx-mask {
  0%{
    transform: translateX(-100%) rotate(45deg);
  }
  100%{
    transform: translateX(100%) rotate(45deg);
  }
}

@keyframes fx-text {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX($anim-text-offset);
    opacity: 0;
  }
}
@keyframes fx-text-bis {
  0%{
    transform: translateX(-1 * $anim-text-offset);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
