.headline {
    margin-top: 30px;
}

.homepage-main {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: black;
    margin-top: 100px;
    margin-bottom: 40px;
}

.homepage-main h1 {
    font-size: 50px;
    font-weight: bold;
}

.homepage-main h4 {

}

.explanation-section {
    display: flex;
    align-items: center;
}

.explanation-section-2 {
    display: flex;
}

.explanation-section-2 .description, .home-samples-wrapper {
    width: 50%;
    display: inline-block;
}

.explanation-section-2 .description {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.sample-text {
    font-size: 20px;
    line-height: 30px;
}

.explanation-section-2 .description h3 {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}


.home-samples:after {
    content: "";
    clear: both;
    display: table;
}

.home-samples {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.explanation-section .left {
    background: black;
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explanation-section .left h2 {
    font-size: 40px;
}

.explanation-section .left, .explanation-section .right {
    width: 50%;
}

.explanation-section .right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    line-height: 35px;
    height: 400px;
    padding: 40px;
}

.soundwawe {
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
}

.homepage-main .big-logo {
    width: 500px;
}

.home-title {
    font-size: 32px;
    font-weight: bold;
    max-width: 633px;
    line-height: 45px;
    margin: 50px auto;
    margin-bottom: 20px;
}

.homepage-main .btn-wrapper a {
    color: white;
}

.homepage-main .btn-wrapper a:hover {
    color: white;
    text-decoration: none;
}

.homepage-main .buy-button {
    font-size: 24px;
}

.home .separator {
    margin: 100px 0;
}

.explanation-section-2 .description.description-jingle h3{
    margin-bottom: 30px;
}

.sample-text-jingle {
    font-size: 18px;
}

.home-footer {
    font-size: 22px;
    margin-bottom: 100px;
}

.jingle-footer li {
    float: none;
    display: block;
    margin-bottom: 10px;
}

.home-footer { text-align: center; }
.home-footer a { margin: 5px; }
.home-footer a:hover { text-decoration: none; }

a.reddit { color: rgb(253, 68, 4); }
a.reddit:hover { opacity: 0.7; }

a.medium { color: #03a87c; }
a.medium:hover { opacity: 0.7; }

a.discord { color: rgb(114, 137, 218); }
a.discord:hover { opacity: 0.7; }
