.loading-icon-wrapper {
    width: 110px;
}

#load {
    width: 110px;
    animation: loading 3s linear infinite;
}

#load #loading-inner {
    animation: loading-circle 2s linear infinite;
    stroke: #fff;
    fill: transparent;
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    stroke-width: 10;
    stroke-miterlimit: 10;
    stroke-linecap: square;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loading-circle {
    0% {
        stroke-dashoffset: 0
    }
    100% {
        stroke-dashoffset: -600;
    }
}
