@import "partials/colors";
@import "partials/text";
@import "partials/variables";

body {
    background: white;
    color: black;
  padding: 0;
}

div {
    box-sizing: border-box;
}

#root { position: relative; }

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px;

  @media only screen and (max-width: 850px) {
    padding-top: 80px;
  }
}

a {
  color: var(--link);
  text-decoration: none;
  @include hover-transition;

  &:focus {
    color: var(--link);
    text-decoration: none;
  }

  &:hover {
    color: var(--link-hover);
    text-decoration: none;
  }
}

.width-container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
}

.page-wrapper {
  display: flex;
  flex-grow: 1;

  &.center .width-container .page-content-wrapper {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:not(.center) { padding-bottom: 130px; }

  .page-header-wrapper {
    padding: 50px 0;

    .page-title {
      font-size: $font-size-title;
      font-weight: $font-weight-bold;
    }

    .page-description {
      max-width: 800px;
      font-size: $font-size-medium;
      margin-top: 20px;
    }
  }

  .loader-wrapper {
    @include flex-center;
    flex-direction: column;
    font-size: $font-size-extra-large;

    .loader-message {
      margin-top: 20px;
    }
  }

  .width-container .page-content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .empty-state-wrapper {
      margin: 0 auto;
      @include flex-center();
    }
  }
}

.separator {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:focus {
    color: black;
    font-size: 18px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
    color: black;
    opacity: 0.65;
    transition: 0.2s ease-in;
}

body::-webkit-scrollbar, div::-webkit-scrollbar {
     width: 15px;
 }

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background-color: rgba(0, 0, 0, 0.65);
     border: 5px solid rgba(0, 0, 0, 0);
     background-clip: padding-box;
     -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
 }

.navbar-collapse.collapsing, .navbar-collapse.collapse.in {
    border-bottom: 1px solid black;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand span {
    margin-right: 10px;
}

.children-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.checker-loader-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  flex-direction: column;
  font-size: $font-size-extra-large;

  .loader {
    margin-bottom: 20px;
  }
}

.marketplace-wrapper {
  background: white;
  display: flex;
  margin-top: 20px;
}

.marketplace-play-wrapper {
  height: 200px;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.marketplace-wrapper .songs-wrapper {
  padding: 10px;
  padding-left: 0;
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.songs-count {
  margin: 20px 0 5px 20px;
  font-size: 16px;
  font-weight: bold;
}

.single-song {
  display: flex;
  position:relative;
  flex-direction: column;
  width: 200px;
  margin: 10px 10px 5px 10px;
}

.single-song #load, .single-song  .loading-icon-wrapper {
  width: 45px;
}

.single-song #load #loading-inner {
  width: 43px;
  stroke: #fff;
}

.single-song .header-label {
  position: absolute;
  top: 10px;
  left: 25px;
  z-index: 10;
  background: black;
  width: 150px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  color: white;
}

.single-song .header-label span {
  margin-right: 5px;
}

.single-song .overlay {
  position: absolute;
  transition: 0.2s ease-in;
  display: flex;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  height: 200px;
  width:100%;
  align-items: center;
  justify-content: space-evenly;
}

.overlay .play, .overlay .open, .overlay .stop {
  color: white;
  cursor: pointer;
  font-size: 45px;
}

.jingle-image-container {
  position: relative;
  z-index: 9;
  width:100%;
  vertical-align:top;
}

.jingle-image-container .jingle-image-wrapper {
  height: 200px;
}

.single-song .jingle-image-container:hover + .overlay, .single-song .overlay:hover {
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
}

/*img:after*/
/*opacity: 1;*/

.marketplace-wrapper .sidebar {
  border-right: 1px solid #d1d1d1;
  color: black;
  padding: 20px;
  padding-left: 0;
  flex: 1;
  flex-basis: 240px;
  min-width: 240px;
  max-width: 240px;
  margin-right: 10px;
  margin-bottom: 20px;
}


.sort-wrapper:not(:last-child) {
  margin-bottom: 20px;
}

.sort-wrapper .sort-wrapper-label {
  font-size: 20px;
  margin-bottom: 15px;
}

.marketplace-page-wrapper .pagination-wrapper {
  margin-left: 15px;
}
