.my-samples-wrapper.profile-tab-content-container {

  .buy-samples-wrapper {
    margin-bottom: 0;
  }

  .samples-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 175px);
    grid-gap: 40px 66px;
  }
}
