.single-jingle-wrapper {
    margin-top: 100px;
}

.single-jingle-wrapper .jingle-id {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: #C0C7D1;
    margin-bottom: 20px;
}

.row-wrapper-jingle {
    display: flex;
    justify-content: center;
}

.jingle-details-wrapper {
    display: flex;
}

.jingle-details-wrapper img {
    margin-right: 50px;
    height: 250px;
}

.jingle-details {
    display: inline-flex;
    flex-direction: column;
    max-width: 400px;
}

.jingle-details .jingle-label {
    margin-bottom: 20px;
}

.jingle-details .jingle-label h4, .jingle-samples-wrapper h4 {
    color: #C0C7D1;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.jingle-details .jingle-label:first-child h4 {
    margin-top: 0;
}

.jingle-details .jingle-label div {
    color: #828894;
    font-size: 27px;
}

.samples {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: stretch;
}

.samples .sample {
    font-size: 16px;
    background: lightgray;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 7px;
    margin-bottom: 7px;
    color: #485355;
}

.buy-options {
    display: flex;
    flex-direction: column;
}

.buy-button {
    color: white;
    background: #ED5253;
    width: 250px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.buy-button:hover {
    opacity: 0.8;
}

.jingle-page-img .jingle-image-wrapper {
    margin-right: 50px;
    height: 250px;
}
