.marketplace-wrapper {
    background: white;
    display: flex;
    height: calc(100vh - 225px);
    overflow: hidden;
}

.marketplace-play-wrapper {
    height: 200px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.marketplace-wrapper .songs-wrapper {
    padding: 10px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 272px);
    overflow-y: auto;
}

.songs-count {
    margin: 20px 0 5px 20px;
    font-size: 16px;
    font-weight: bold;
}

.single-song {
    display: flex;
    position:relative;
    flex-direction: column;
    width: 200px;
    margin: 5px;
}

.single-song img {
    position: relative;
    z-index: 9;
    height: 200px;
    width:100%;
    vertical-align:top;
}

.single-song .overlay {
    position: absolute;
    transition: 0.2s ease-in;
    display: flex;
    visibility: hidden;
    z-index: 10;
    top: 0;
    left: 0;
    height: 200px;
    width:100%;
    align-items: center;
    justify-content: space-evenly;
}

.overlay .play, .overlay .open {
    color: white;
    cursor: pointer;
    font-size: 45px;
}

.single-song img:hover + .overlay, .single-song .overlay:hover {
    visibility: visible;
    background: rgba(0, 0, 0, 0.5);
}

/*img:after*/
/*opacity: 1;*/

.marketplace-wrapper .sidebar {
    border-right: 1px solid #ECECEC;
    color: black;
    background: #F2F2F2;
    padding: 20px;
}