.marketplace-wrapper {
    background: white;
    display: flex;
}

.marketplace-play-wrapper {
    height: 200px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.marketplace-wrapper .songs-wrapper {
    padding: 10px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.songs-count {
    margin: 20px 0 5px 20px;
    font-size: 16px;
    font-weight: bold;
}

.single-song {
    display: flex;
    position:relative;
    flex-direction: column;
    width: 200px;
    margin: 5px;
}

.single-song .header-label {
    position: absolute;
    top: 10px;
    left: 25px;
    z-index: 10;
    background: black;
    width: 150px;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: white;
}

.single-song .header-label span {
    margin-right: 5px;
}

.single-song .overlay {
    position: absolute;
    transition: 0.2s ease-in;
    display: flex;
    visibility: hidden;
    z-index: 10;
    top: 0;
    left: 0;
    height: 200px;
    width:100%;
    align-items: center;
    justify-content: space-evenly;
}

.overlay .play, .overlay .open, .overlay .stop {
    color: white;
    cursor: pointer;
    font-size: 45px;
}

.jingle-image-container {
    position: relative;
    z-index: 9;
    width:100%;
    vertical-align:top;
}

.jingle-image-container .jingle-image-wrapper {
    height: 200px;
}

.single-song .jingle-image-container:hover + .overlay, .single-song .overlay:hover {
    visibility: visible;
    background: rgba(0, 0, 0, 0.5);
}

/*img:after*/
/*opacity: 1;*/

.marketplace-wrapper .sidebar {
    height: calc(100vh - 65px);
    border-right: 1px solid black;
    color: black;
    padding: 20px;
    flex: 1;
    flex-basis: 300px;
    min-width: 300px;
    max-width: 300px;
    margin-left: 6px;
    margin-right: 10px;
}

.sort-wrapper:not(:last-child) {
    margin-bottom: 20px;
}

.sort-wrapper .sort-wrapper-label {
    font-size: 20px;
    margin-bottom: 15px;
}