.pending-tx-dropdown-wrapper {
    position: relative;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pending-tx-dropdown-wrapper .dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    user-select: none;
    padding-left: 0;
    padding-right: 0;
}

.pending-tx-dropdown-wrapper .dropdown-header i {
    position: relative;
    top: 4px;
    margin-left: 5px;
}

.pending-tx-dropdown-wrapper .dropdown-wrapper {
    position: absolute;
    top: 50px;
    left: 0;
    width: 140%;
    background: #fff;
    border: 1px solid lightgray;
}

.pending-single {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;
}

.pending-single .type {
    margin-right: 5px;
}