.pending-tx-dropdown-wrapper {
    position: relative;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pending-tx-dropdown-wrapper .dropdown-header {
    color: black;
    font-size: 18px;
}

.pending-tx-dropdown-wrapper .dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    user-select: none;
    padding-left: 0;
    padding-right: 0;
}

.pending-tx-dropdown-wrapper .dropdown-header i {
    position: relative;
    top: 4px;
    margin-left: 5px;
}

.pending-tx-dropdown-wrapper .dropdown-wrapper {
    position: absolute;
    font-size: 18px;
    top: 50px;
    right: 0;
    width: 120%;
    background: #fff;
    border: 1px solid #d2d2d2;
}

.pending-single {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
}

.pending-single .type {
    margin-right: 5px;
}

.pending-tx-dropdown-wrapper .dropdown-wrapper .pending-single:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
}