@import "partials/text";
@import "partials/variables";

.buy-samples-wrapper {
  border: 1px solid var(--black);
  background: var(--buy-samples-bg);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  .title-form-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;

    h2 {
      font-size: $font-size-title-small;
      margin: 0;
      color: var(--buy-samples-title);
      font-weight: $font-weight-bold;
      flex-shrink: 0;
    }

    .form-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;
      width: 100%;

      .button.buy {
        max-width: 150px;
        font-size: $font-size-title-small;
        background: var(--buy-samples-button);
      }

      input { max-width: 100px; }
    }
  }

  @media only screen and (max-width: 650px) {
    align-items: center;

    .title-form-wrapper {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      h2 { margin-bottom: 20px; }

      .form-wrapper {
        justify-content: center;
        align-items: center;

        .form-input {
          font-size: $font-size-large;
          padding: 10px;
          max-width: 70px;
        }

        .button.buy {
          font-size: $font-size-extra-large;
        }
      }
    }
  }
}
