@import "partials/text";
@import "partials/variables";

.wrap-jingles-content-wrapper {

  .wrap-section {

    &:not(:last-child) { margin-bottom: 70px; }

    .wrap-title {
      font-size: $font-size-title-small;
      margin-bottom: 30px;
    }

    .wrap-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, 200px);
      grid-gap: 40px 35px;

      .wrap-jingles-content-jingle-item-wrapper {

        .single-song { margin: 0 0 5px 0; }

        .message-box-wrapper.error {
          width: 100%;

          .message-box .text-wrapper { word-break: break-all; }
        }

        .button { margin-top: 15px; }
      }
    }
  }

  @include for-sm-screen{
    .wrap-section {

      .wrap-title { text-align: center; }
      .wrap-content { justify-content: center; }
    }
  }
}
