@import "partials/variables";
@import "partials/text";

.empty-state-wrapper {
  flex-grow: 1;
  @include flex-center;
  flex-direction: column;
  font-size: $font-size-extra-large;
  max-width: 400px;
  text-align: center;

  svg { margin-bottom: 15px; }

  .button {
    margin-top: 15px;
    width: fit-content;
    padding: 5px 20px;
    font-size: $font-size-extra-large;
  }
}
