<html lang="en">
<head>
  <!-- Facebook sharing meta tags-->
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Crypto Jingles" />
        <meta property="og:description" content="Compose the best jingles on the blockchain, you can share them, sell them and love them." />
        <meta property="og:url" content="https://cryptojingles.app/" />
        <meta property="og:site_name" content="Crypto Jingles" />
  <!--      <meta property="og:site_name" content="Site name" />-->
  <!--      <meta property="og:image:width" content="1079" />-->
  <!--      <meta property="og:image:height" content="566" />-->

  <!-- Twitter sharing meta tags -->
    <meta name="twitter:title" content="Crypto Jingles" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Compose the best jingles on the blockchain, you can share them, sell them and love them." />
<!--    <meta name="twitter:image" content="absolute url to image">-->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Crypto Jingles</title>
  <meta name="description" content="Compose the best jingles on the blockchain, you can share them, sell them and love them.">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="<%=htmlWebpackPlugin.files.favicon%>">

  <% for (var chunk in htmlWebpackPlugin.files.css) { %>
  <link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>" as="style" onload="this.rel='stylesheet'">
  <% } %>
</head>

<body>
<div id="root"></div>

<% for (var chunk in htmlWebpackPlugin.files.js) { %>
<script src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
<% } %>
</body>
</html>
