@import "partials/text";
@import "partials/variables";

.connect-wallet-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .wallet-is-connected {
    display: flex;
    align-items: center;

    .short-address {
      font-size: $font-size-medium;
      margin-right: 15px;
    }

    .icon-status-wrapper {
      display: flex;
      align-items: center;

      .icon-wrapper svg {
        width: 23px;
        height: 23px;
      }
    }
  }

  .button {
    width: 205px;
    display: flex;
    max-height: 40px;
    min-height: 40px;
    justify-content: center;
    font-size: $font-size-medium;
    align-items: center;
    padding: 10px 15px;
    background: var(--connect-wallet-button-bg);
    border: 1px solid var(--connect-wallet-button-border);
    border-radius: 5px;
    color: var(--connect-wallet-button);
    cursor: pointer;
    @include hover-transition;

    b { margin-left: 3px; }

    &:hover {
      color: var(--connect-wallet-button-hovered);
      border-color: var(--connect-wallet-button-hovered);
    }
  }
}
