@import "partials/text";
@import "partials/variables";

.sort-samples-wrapper {
  margin-bottom: 40px;
  display: flex;
  overflow-x: auto;
}

.sort-samples-wrapper:after {
  content:"";
  clear:both;
  display:block;
}

.compose-left-column {
  border-right: 1px solid #d1d1d1;
  padding-right: 20px;
  margin-right: 20px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.compose-left-column .loading-icon-wrapper {
  width: 80px;
}

.slot-options {
  margin-bottom: 10px;
}

.slot-options div {
  margin-top: 33px;
  font-size: 16px;
}

.compose-play {
  margin-top: 74px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.compose-play svg {
  width: 80px !important;
}

.compose-play svg:hover {
  opacity: 0.75;
}

.samples-slider h2 {
  margin: 20px 0;
  color: black;
}

.compose-play #load #loading-inner {
  stroke: #d5d5d5;
}

.compose-wrapper {

  .buy-samples-wrapper { margin-bottom: 40px; }

  .create-jingle-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d1d1d1;

    .create-form-contents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .form-title { font-size: $font-size-title-small; }

      .input-submit-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;

        .form-input {
          max-width: 250px;

          &:not(:focus) { border: 1px solid var(--input-border); }
        }

        .button {
          max-width: 150px;
          padding-top: 15px;
          padding-bottom: 16px;
          font-size: $font-size-extra-large;
        }
      }
    }
  }

  .samples-section-wrapper {

    &.center {
      min-height: 400px;

      .loader-wrapper, .empty-state-wrapper { height: 100%; }
    }

    .compose-samples-wrapper {
      width: 100%;
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(auto-fit, 175px);
      grid-gap: 40px 66px;
    }
  }

  @include for-sm-screen {
    .create-jingle-form {
      align-items: center;

      .create-form-contents {
        flex-direction: column;

        .form-title { margin-bottom: 20px }

        .input-submit-wrapper {
          width: 100%;
          flex-direction: column;

          .form-input {
            max-width: 100%;
            margin: 0 0 15px 0;
          }

          .button { max-width: 100%; }
        }
      }
    }

    .samples-section-wrapper .compose-samples-wrapper { justify-content: center;  }
  }
}

.disabled-play, .disabled-play svg  {
  user-select: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled-play svg:hover {
  opacity: 0.5;
}
