.first-row {
  margin-top: 30px;
}

.play-btn {
  padding-left: 30px;
  margin-bottom: 50px;
}

.create-song-btn {
  margin-left: 12px;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.separator {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
}

.sort-samples-wrapper {
  margin: 20px 0 20px 0;
  display: flex;
}

.sort-samples-wrapper:after {
  content:"";
  clear:both;
  display:block;
}

.compose-left-column {
  border-right: 1px solid #d1d1d1;
  padding-right: 20px;
  margin-right: 20px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.compose-left-column .loading-icon-wrapper {
  width: 80px;
}

.slot-options {
  margin-bottom: 10px;
}

.slot-options div {
  margin-top: 33px;
  font-size: 16px;
}

.compose-samples-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.scroll-wrapper {
  height: calc(100vh - 60px);
  overflow: auto;
}

.compose-samples-wrapper:after {
  content: "";
  clear: both;
  display: table;
}

.compose-play {
  margin-top: 74px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.compose-play svg {
  width: 80px !important;
}

.compose-play svg:hover {
  opacity: 0.75;
}

.samples-slider h2 {
  margin: 20px 0;
  color: black;
}

.compose-play #load #loading-inner {
  stroke: #d5d5d5;
}

.form-horizontal.create-jingle-form {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.form-horizontal.create-jingle-form div {
  display: flex;
  align-items: center;
}

.form-horizontal.create-jingle-form input {
  width: 200px;
  margin-right: 10px;
  height: 40px;
  font-size: 18px;
}

.form-horizontal.create-jingle-form h4 {
  font-size: 28px;
  margin: 0;
  display: flex;
  align-items: center;
}

.form-horizontal.create-jingle-form button {
  margin: 0;
  width: 250px;
}

.buy-samples-link a {
  text-decoration: underline;
  color: #16add8;
  margin-left: 10px;
  transition: 0.2s;
}

.buy-samples-link a:hover {
  opacity: 0.75;
}

.disabled-play, .disabled-play svg  {
  user-select: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled-play svg:hover {
  opacity: 0.5;
}

.mm-link {
  border-top: 1px solid black;
  padding-top: 30px;
}

.mm-link a {
  margin-right: 10px;
}
