@import "partials/variables";
@import "partials/text";

.footer-wrapper .width-container {
  padding-top: 30px;
  padding-bottom: 30px;

  .top {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .collections {
      font-size: $font-size-medium;

      a {
        display: inline-flex;
        align-items: center;

        svg { margin-right: 5px }

        &:first-child { margin-right: 40px; }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .logo-wrapper img { width: 200px; }

    .socials-wrapper {
      display: flex;

      a:not(:last-child) { margin-right: 20px; }

      svg {
        width: 30px;
        cursor: pointer;
        @include hover-transition;

        &:hover { opacity: 0.6; }
      }
    }
  }
}


@include for-sm-screen {
  .footer-wrapper .width-container {
    padding-top: 20px;
    padding-bottom: 20px;

    .top .collections {
      flex-direction: column;
      display: flex;
      text-align: center;

      a {
        justify-content: center;

        &:first-child {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }

    .bottom {
      flex-direction: column;

      .logo-wrapper, .socials-wrapper { margin-bottom: 30px; }

      .socials-wrapper {
        flex-direction: column;

        a:not(:last-child) {
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
    }
  }
}
