@import "partials/variables";

.footer-wrapper .width-container{
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;

  .logo-wrapper img { width: 200px; }

  .socials-wrapper {
    display: flex;

    a:not(:last-child) { margin-right: 20px; }

    svg {
      width: 30px;
      cursor: pointer;
      @include hover-transition;

      &:hover { opacity: 0.6; }
    }
  }
}


@include for-sm-screen {
  .footer-wrapper .width-container {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;

    .logo-wrapper, .socials-wrapper { margin-bottom: 30px; }

    .socials-wrapper {
      flex-direction: column;

      a:not(:last-child) {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }
}
